extends ../layout

block title
  title #{titleBase} - ビデオ

block scripts
  link(rel='stylesheet', href='/alertify.js/themes/alertify.core.css')
  link(rel='stylesheet', href='/alertify.js/themes/alertify.default.css')
  script(src='/alertify.js/lib/alertify.min.js')

block content
  #container
    aside
      ul
        for tag, index in tags
          if tag == selected
            li.selected= tag
          else
            li
              a.tag(href="/video/tag/#{tag}")= tag
    section
      #list
        for video, index in videos
          .row
            a.video(href="/video/#{video._id}", target="_blank")
              .title= video.title
              .detail= video.detail
            if !video.deleted
              form.deleteVideo(method="POST",action="/video/delete/#{video._id}",data-title="#{video.title}")
                input(type="submit",value="x")
            else
              span(style="color:red") 削除されます
        if listDeletable
          form#delete-list(method="POST", action="/video/tag/#{selected}/delete")
            for video, index in videos
              if !video.deleted
                input(type="hidden" name="ids[]" value="#{video._id}")
            input(type="submit" value="全て削除")


