extends ../layout

block title
  title videos

block content
  #container
    #list
      div
        for tag, index in tags
          a.tag(href="/video/tag/#{tag}")= tag
      div(style="clear:both;")
        for video, index in videos
          .row
            a.video(href="/video/#{video._id}", target="_blank")
              .title= video.title
              .detail= video.detail
            if !video.deleted
              form.deleteVideo(method="POST",action="/video/delete/#{video._id}",data-title="#{video.title}")
                input(type="submit",value="x")
            else
              span(style="color:red") 削除されます
